body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block;
}

/* Typography */
h1,
h2,
h3 {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

p,
.article-info {
    font-family: "Ubuntu";
}

p {
    font-size: 1.125rem;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}

/* logo subtitle */
.subtitle {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 0.75rem;
    color: #1792d2;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 0.875rem;
    color: #1792d2;
    text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-info {
    font-size: 0.875rem;
    margin: 2em 0;
}

.widget-recent-post-title,
.widget-title {
    font-size: 1rem;
}

.widget-title {
    font-family: "Ubuntu";
    font-weight: 700;
}

/* layout */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 2em 0;
    margin-bottom: 3em;
}

footer {
    background-color: #143774;
    color: #fff;
    text-align: center;
    padding: 3em;
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li {
    margin: .5em 0;
    font-family: "Ubuntu";
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: #707070;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (min-width: 775px) {
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
        min-width: 200px;
    }

    nav ul {
        flex-direction: row;
    }
    
    nav li {
        margin-left: 2em;
    }
}

/* articles  */

.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-secondary {
    order: 1;
}

.article-recent-main{
    order: 2;
}

@media (min-width: 775px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 67%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    
    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -1;
    }

    .article-info {
        order: -1;
    }

    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}

/* widgets */

.sidebar-widget {
    border: solid #EBEBEB 20px;
    padding: 20px;
    margin-bottom: 2em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: #ebebeb 2px solid;
    margin-bottom: 2em;
}

.widget-recent-post:last-child {
    border: 0;
    margin-bottom: 0;
}

.widget-img {
    order: 1;
    margin-bottom: 0.5em;
}

.widget-recent-post-title {
    order: 2;
}
